.card {
  border: 4px rgb(99, 99, 99) solid;
  width: 200px;
  height: 200px;
  position: relative;
  transition: all .2s ease-in-out;
  margin: 10px auto;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:rgb(255, 255, 255);
  margin: auto;
}

.card > .img-container > img {
  height: 100%;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card:active {
  transform: translate(1px, 1px);
}